{% extends "base.html" %}

{% block titulo %}  PlusUltra  {% endblock %}

{% block contenido %} 
<div class="center">  
    <div class="p-5 bg-light">
        <div class="container">
            <h1 class="display-3">Bienvenidos a Plus Ultra</h1>
    
            <hr class="my-2">
            <p>Bienvenido a libreria Plus ultra donde puedes comprar libros, comics o mangas</p>
            
        </div>
    </div>
</div>

<style>
    body {
        background-image: url('/imagenes/anime.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        
    }
</style> 

{% endblock %}